{
  "webserver": {
    "webserverIp": "{{ fmdx_webserver_ip | default(fm_dx_webserver_ip) }}",
    "webserverPort": "{{ fmdx_webserver_port | default(fm_dx_webserver_port)}}",
    "banlist": [],
    "chatEnabled": true,
    "tuningLimit": false,
    "tuningLowerLimit": "0",
    "tuningUpperLimit": "108",
    "defaultTheme": "theme1",
    "presets": [
      "87.5",
      "87.5",
      "87.5",
      "87.5"
    ],
    "bgImage": "",
    "rdsMode": false
  },
  "xdrd": {
    "wirelessConnection": true,
    "comPort": "{{ fmdx_com_port | default(fm_dx_webserver_com_port) }}",
    "xdrdIp": "{{ fmdx_xdrd_ip | default(fm_dx_webserver_xdrd_ip) }}",
    "xdrdPort": "{{ xdrd_tcpip_port }}",
    "xdrdPassword": "{{ xdrd_password }}"
  },
  "audio": {
    "audioDevice": "{{ fmdx_audio_device | default(fm_dx_webserver_audio) }}",
    "audioChannels": {{ fmdx_audio_channels | default(fm_dx_webserver_audio_channels)}},
    "audioBitrate": "{{ fmdx_audio_bitrate | default(fm_dx_webserver_audio_bitrate)}}",
    "softwareMode": false,
    "startupVolume": "1"
  },
  "identification": {
    "token": null,
    "tunerName": "{{ fmdx_tuner_name | default(fm_dx_webserver_tuner_name) }}",
    "tunerDesc": "{{ fmdx_tuner_desc | default(fm_dx_webserver_tuner_desc) }}",
    "lat": "{{ fmdx_lat | default("49.866317") }}",
    "lon": "{{ fmdx_lon | default("14.817628") }}",
    "broadcastTuner": false,
    "proxyIp": "",
    "contact": ""
  },
  "password": {
    "tunePass": "{{ fmdx_tune_pass | default("")}}",
    "adminPass": "{{ fmdx_admin_pass | default(fm_dx_webserver_admin) }}"
  },
  "plugins": [{% if fmdx_plugins is defined %}{% for plugin in fmdx_plugins %}"{{ plugin.entrypoint }}"{{ ", " if not loop.last }}{% endfor %}{% endif %}],
  "device": "{{ fmdx_device | default(fm_dx_webserver_device) }}",
  "defaultFreq": "{{ fmdx_startup_freq | default("87.5") }}",
  "publicTuner": "{{ fmddx_public_tuner | default(fm_dx_webserver_public_tuner) }}",
  "lockToAdmin": false,
  "autoShutdown": false,
  "enableDefaultFreq": {% if fmdx_startup_freq is defined %}true{% else %}false{% endif %},
  "antennas": {
    "enabled": false,
    "ant1": {
      "enabled": false,
      "name": "Ant A"
    },
    "ant2": {
      "enabled": false,
      "name": "Ant B"
    },
    "ant3": {
      "enabled": false,
      "name": "Ant C"
    },
    "ant4": {
      "enabled": false,
      "name": "Ant D"
    }
  },
  "bwSwitch": false
}