[Unit]
Description=FM-DX Webserver
After=network-online.target xdrd.service
Requires=xdrd.service

[Service]
ExecStart=npm run webserver
WorkingDirectory=/opt/fm-dx-webserver
User= {{ fm_dx_webserver_user }}
Restart=always
SyslogIdentifier=fm-dx-webserver

[Install]
WantedBy=multi-user.target
